<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapytaj AI</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<main class="container">

    <nav>
    <a href="/">ZAPYTAJ AI</a>
    <a href="/analiza-strona">ANALIZUJ DANE</a>
</nav>

    <h1>Zapytaj AI</h1>

    <form action="/zapytaj" method="POST">

        <textarea
            name="pytanie"
            rows="5"
            placeholder="Wpisz swoje pytanie..."
            required
        >{{ pytanie or "" }}</textarea>

        <button type="submit">
            Wyślij
        </button>

    </form>

    {% if odpowiedz %}

    <div class="answer-box">

        <strong>Odpowiedź AI:</strong>

        <p>
            {{ odpowiedz }}
        </p>

    </div>

    {% endif %}

</main>

</body>

</html>